*{
  /*font-family: "Crafty Girls";*/

 
}

.title{
  background-color: #e0e0e0;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 10px;
}
.check{

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
}
button{
  margin-top: 10px;
}
ul li{
    
  list-style: none;
  font-size: 12px;

}
ul{

  padding:0; 
}
li{
  background-color: #e0e0e0;
  list-style: none;
  margin-bottom: 5px;
  padding: 10px;
}